<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Help page</title>
</head>
<body>
    {{>header}}
  <h2>  {{screamIt pageTitle}} </h2>
    
    <p>{{screamIt welcomeMessage}}</p>

   {{>footer}}
</body>
</html>