<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Some website</title>
</head>
<body>

        {{>header}}
  <h2>  {{screamIt pageTitle}} </h2>

    {{screamIt welcomeMessage}}

    {{>footer}}
</body>
</html>